# Ignore environment files
.env*
.env.*

# System / IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
.fleet/

# Laravel-specific ignored files
/vendor/
/node_modules/
.phpunit.result.cache
.phpactor.json
.phpunit.cache

# Laravel storage exclusions
/storage/*.key
/storage/pail
/storage/logs/*
!/storage/logs/.gitkeep
/public/storage
/public/hot

# Build artifacts (optional)
*.log
